body{
	font-size: 16px;
	line-height: 1.125em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgb(51, 51, 51);
}

h5{
    font-size: 1.2em;
	line-height: 1.325em;
	margin-bottom: 10px;
}

h4{
    font-size: 1.25em;
    line-height: 1.375em;
    font-weight: 200;
}

h3{
    font-family: 'League Gothic', sans-serif;
    font-size: 1.5em;
    line-height: 1.625em;
    font-weight: 100;
    font-size: 2.5em;
	text-align: center;
}

h2{
    font-size: 1.75em;
    line-height: 1.875em;
    color: $dark_blue;
    font-weight: 400;
	text-align:center;
	display: block;
}

h1{
    font-family: 'League Gothic', sans-serif;
    font-size: 4em;
    line-height: 1em;
    font-weight: 400;
}

.center{
	text-align: center;
}

.sub-header{
	margin-bottom: 0.5em;

	@include grid-media-query(palm){
        margin-bottom: 0.25em;
    }
}

.white{
	color: $white;
}
