$white: #fff;
$highlighted: #ff530d;
$black: #000;
$dark-grey: #222;
$white: #FFF;
$dark_blue: #2B3A42;
$paragraph-spacing: 10px;
$home-page-hero-height-spacing: 500px;
$other-page-hero-height: 400px;
