$about-section-color: #2b3a42;
$about-section-dark: #253239;

.about-section{
	background-color: $about-section-color;
	box-shadow: inset 0 0 3px 3px $about-section-dark;
	font-weight: 200;
}

.home-section{

}
